# Database - Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_WJHotQS6kg7E@ep-wispy-tree-apux2z44-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# NextAuth
NEXTAUTH_SECRET="NCxA/AGuF0qRVkumEsvok706ueKlWPpvJSPkt4zuh4I="
NEXTAUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
